{% extends 'base.html.twig' %}
{% block bg %}
    style="background-image: url('/uploads/media/vue-arriere-plan-abstraite-abstraite-interieur-regardant-vers-bureau-vide-portes-entree-mur-rideau-verre-cadre.jpg');background-size: cover;"
{% endblock %}
{% block body %}
{# Tester si un variable medecin existe #}
{% if medecin is defined %}
    <h1 class="w-100 text-center">Modification Medecin</h1>
    {% else %}
    <h2 class="w-100 text-end">Ajout Medecin</h2>
    <hr>
{% endif %}

<div class="container-fluid row">
    <div class="image col-lg-4">
        <img  id="image" src="" alt="" class="img-fluid">
    </div>
    <div class="col-lg-8  bg-white p-3 rounded-2 shadow-lg">
        {{ form_start(form) }}
        {{ form(form) }}
        {{ form_end(form) }}
    </div>

</div>
{% endblock %} 