{% extends 'base.html.twig' %}

{% block title %}New Consultation{% endblock %}

{% block body %}
    <h1 class="text-center">Consultation</h1>
    <hr>

    {{ include('consultation/_form.html.twig') }}

    <a href="{{ path('app_consultation_index') }}">back to list</a>
{% endblock %}
